/* CSS Document */
/* CSS Document */

/* header */
.new-header{position:relative;z-index:8888;height:44px;background:#e4393c;top:-50px;}
.new-header h2{height:44px;line-height:44px;font-weight:normal;font-size:16px;color:#fff;text-align:center;}
.new-header .logo{width:85px;height:33px;background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_logo.png) no-repeat 0 0;background-size:85px auto;float:left;text-indent:-999em;margin:7px 0 0 25px}
.new-a-back{position:absolute;top:6px;left:6px;width:30px;height:32px;}
.new-a-back span{display:inline-block;width:10px;height:18px;margin-top:6px;background:url(../images/icon2b.png) -60px 0 no-repeat;background-size:180px 180px;text-indent:-9999px;}

/* new-jd-tab */
.new-a-jd{position:absolute;top:6px;right:7px;width:37px;height:30px;}
.new-a-jd span{display:inline-block;width:21px;height:21px;margin:5px 0 0 8px;background:url(../images/icon2b.png) -125px -24px no-repeat;background-size:180px 180px;text-indent:-9999px;}
.new-jd-tab{border-bottom:1px solid #d0cece;background-color:#fff;margin-top:-50px;height:50px;line-height:20px;}
.new-jd-tab .new-tbl-cell{width:25%;padding:9px 0;font-size:12px;color:#fff;text-align:center;}
.new-jd-tab .new-tbl-cell span{vertical-align:text-top;margin-top:-50px;}
.new-jd-tab .new-tbl-cell .icon,.new-jd-tab .new-tbl-cell .icon2,.new-jd-tab .new-tbl-cell .icon3,.new-jd-tab .new-tbl-cell .icon4{display:inline-block;width:22px;height:22px;background:url(../images/icon2b.png) -60px -25px no-repeat;background-size:180px 180px;text-indent:-9999px;}
.new-jd-tab .new-tbl-cell .icon2{width:26px;background-position:0 -25px;}
.new-jd-tab .new-tbl-cell .icon3{width:25px;background-position:-29px -25px;}
.new-jd-tab .new-tbl-cell .icon4{width:22px;background-position:-85px -25px;}
.new-jd-tab .new-tbl-cell .icon.on{background-position:-157px 0;}
.new-jd-tab .new-tbl-cell .icon2.on{background-position:-154px -24px;}
.new-jd-tab .new-tbl-cell .icon3.on{background-position:-154px -49px;}
.new-jd-tab .new-tbl-cell .icon4.on{background-position:-155px -74px;}
.new-tbl-type{display:table;width:100%;}
.new-tbl-cell{display:table-cell;}

/*about*/
.col-md-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.ab-section{
padding:4em 0;
margin-top:-58px;
margin-left:230px;
}
.ab-section p {
   color: #555;
  font-size: 1em;
  line-height: 1.8em;
  margin: 1.5em 0 0 0;
  width: 100%;
}
.ab-img img {
  width: 100%;
}
.ab-img{
float:right;
}
h3.tittle {
  font-size: 3.5em;
  font-weight: 400;
  color:#FFFFFF;
font-family: 'Poiret One', cursive;
 margin-top:10px;
 
}
.welcome li a {
    color:#D8B7B4;
    font-size:15px;
    text-decoration: none;
    vertical-align: middle;
    border-bottom:2px solid #774F4B;
    padding: 0.15em 0.8em;
    display: inherit;
}
.welcome li a:hover{
    color: #fff;
}
.welcome li {
    display: block;
    line-height: 2em;
	margin:0.4em 0;
	width:1300px;
	text-align:center;
}
.welcome-right {
    float: left;
    width: 40%;
	margin-left:-580px;
}
  
/*grid_1*/
.grid_1{
	padding:5em 0;
	margin-left:-400px;
	
}
.news h1, .grid_1_right h2{
    font-size: 2em;
    margin-bottom: 1.5em;
    position: relative;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.news h1:after, .grid_1_right h2:after{
    background-color: #c5c5c5;
    bottom: -15px;
    content: "";
    height: 2px;
    left: 0;
    width: 30px;
    position: absolute;
    z-index: 0;
}
.news article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	
	width:500px;
    color: #c5c5c5;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.news article a{
	color:#777;
	font-size:16px;
	line-height:1.8em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-top:20px;
	margin-bottom: 10px;
	width:200px;
}
.news article .date {
    margin-bottom: 10px;
	
}
.news article i {
    margin-right: 5px;
}
.read-more:after {
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color:#f1b458;
    content: "\f18e";
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}
a.read-more {
	color:#000;
}
a.read-more:hover{
	color:#777;
}




/*footer*/
.footer{background:#e4393c;bottom:10px;margin-left:-250px;}
.footer .contact{height:44px;line-height:44px;font-weight:normal;font-size:16px;color:#fff;text-align:center;}

.box .close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.box .close:hover {
	color:#444;
}
