<include file="head"/>
<h1>
	<span class="action-span1">关于系统</span>
	<span id="search_id" class="action-span1"></span>
	<div style="clear:both"></div>
</h1>

<div class="list-div">
<table cellspacing='1' cellpadding='3'>
	<tr><th colspan="2" class="group-title">参与成员</th></tr>
	<tr>
		<td width="20%" class="first-cell">项目策划</td>
		<td></td>
	</tr>
	<tr>
		<td class="first-cell">程序开发</td>
		<td></td>
	</tr>
	<tr>
		<td class="first-cell">界面设计</td>
		<td></td>
	</tr>
</table>
</div>

<!-- <br />
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
	<tr><th colspan="2" class="group-title">官方网站</th></tr>
	<tr>
		<td class="first-cell" width="20%">网站地址:</td>
		<td><a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a></td>
	</tr>
</table>
</div> -->
{include 'Public/foot.html'}