<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"> 
<META HTTP-EQUIV="expires" CONTENT="0"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/general.css?{$VERSION}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/main.css?{$VERSION}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/pop.css?{$VERSION}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/chosen.css?{$VERSION}" />
<script type="text/javascript">
<!--
var APP_DIR = '__APP__/';
//-->
</script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/dialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/date/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/base.js?{$VERSION}"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.dialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/chosen.jquery.js"></script>


<!-- 加载编辑器 begin -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Js/KindEditor/themes/default/default.css" />
<script type="text/javascript" src="__PUBLIC__/admin/Js/KindEditor/kindeditor-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/Js/KindEditor/lang/zh_CN.js"></script>
<!--  加载编辑器 end -->

</head>
<body>