<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<frameset rows="*" framespacing="0" border="0">
<frameset rows="76,10,*" framespacing="0" border="0" id="header-body">
	<frame src="<php>echo U('admin/index/top');</php>" id="header-frame" name="header-frame" frameborder="no" scrolling="no"></frame>
	<frame src="<php>echo U('admin/Index/dragtop');</php>" id="header-frame-drag" name="header-frame-drag" frameborder="no" scrolling="no">
	<frameset cols="180,10,*" framespacing="0" border="0" id="frame-body">
		<frame src="<php>echo U('admin/Index/left');</php>" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes"></frame>
		<frame src="<php>echo U('admin/Index/drag');</php>" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no"/>
		<frame src="<php>echo U('admin/Index/right');</php>" id="main-frame" name="main-frame" frameborder="yes" scrolling="yes"></frame>
	</frameset>
</frameset>
</frameset>
</html>