<include file="head"/>
<!--  -->
<h1>
<span class="action-span1"><a href="javascript:;">管理中心</a> </span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr><th colspan="4" class="group-title">汇总</th></tr>
  <tr>
    <td width="20%">xxx</td>
    <td width="30%"><strong></strong></td>
    <td width="20%">xxx</td>
    <td width="30%"><strong></strong></td>
  </tr>
  <tr>
    <td width="20%">xxx</td>
    <td width="30%"><strong></strong></td>
    <td width="20%">xxx</td>
    <td width="30%"><strong></strong></td>
  </tr>
</table>
</div>
<include file="foot"/>