/* CSS Document */
/* CSS Document */
/* CSS Document */

/* CSS Document */
/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}



.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{color:#fff;background-color:transparent;}

 

/*container1*/
.container1{height:550px;background-color:#f5f6f7;}

.top{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;/*<!--这三行设置文字不换行，超过部分用...代替-->*/
width:1150px;
font:Microsoft YaHei UI Light;
height:350px;

margin-top:-5px;
margin-left:-70px;
overflow: hidden; 
position: relative;}

.bottom{
height:350px;
width:1000px;

margin:20px auto;
margin-left:50px;
}
.left{
width:200px;
height:250px;
border:1px solid #3399CC;background:#FFFFFF;
border-radius:10px;
box-shadow:5px 5px 5px #aaaaaa;
float:left;
margin-left:-110px;
}
.right{
width:880px;
height:250px;

float:right;
margin-right:-10px;
}
.main{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;/*<!--这三行设置文字不换行，超过部分用...代替-->*/
height:300px;
border:1px solid #3399CC;background:#fffff7;
border-radius:10px;
box-shadow:5px 5px 5px #aaaaaa;
margin:0px auto;
}

