/* CSS Document */
/* CSS Document */

/* CSS Document */
/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}

/*topbar*/
.topbar{height:35px;background-color:#99FFFF;line-height:35px;}
.topbar a:hover{color:red;}

/*logo*/
.logobar{height:85px;}
.logo{padding-left:41px;padding-top:13px;float:left;}
.navbar{margin-left:90px;}
 a{color:#333;text-decoration:none}  
    .nav{list-style: none;height: 31px; margin-top: -10px; padding-left:200px;border-bottom: 5px solid #f60;}  
    .nav li{float: left;margin-top:-25px;}  
    .nav li a{display: block; width:130px; text-align:center; background:#00CC66;height: 50px;line-height: 50px;margin-left: 1px}  
    .nav li a.on,.nav li a:hover{background:#FF9900;color:#fff; }  

/*container1*/
.container1{height:450px;background-color:#f5f6f7;}
#left{
width:300px;
height:450px;

float:left;
margin-left:-50px;
}
.right{
width:780px;
height:450px;

float:right;
margin-right:-40px;
}


.main{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;/*<!--这三行设置文字不换行，超过部分用...代替-->*/
height:450px;
border:1px solid #ffcc00;background:#fffff7;
margin:20px auto;
}

.main .touxiang{
width:778px;
height:94px;
margin-left:-15px;

background:url(../../images/default.png) no-repeat;
background-size:100% 100%;}

.touxiang .user-info{float:left;margin-left:24px;margin-top:24px;}
.user-info .user-name{display:block;color:#fff;line-height:25px;}

#left p.leftTop{
	display:block;
	width:270px;
	background:url(../../images/left_top.gif) 0 0 no-repeat;
	background-size:100% 100%;
	height:27px;
	float:left;
	margin-top:20px;
	margin-left:13px;
}
#left p.leftBot{
	display:block;
	width:270px;
	background:url(../../images/left_bot.gif) 0 0 no-repeat;
	background-size:100% 100%;
	height:34px;
	float:left;
	
	margin-left:13px;
}
#left ul.menu2{
	width:270px;
	height:380px;
	background:url(../../images/left_link_bg.gif) 0 0 no-repeat;
	background-size:100% 100%;
	padding:0 13px;
	margin-left:13px;
	float:left;
	
}
#left ul.menu2 li{
	padding:0;
	margin:0;
	height:42px;
	border:1px dashed #CCCCCC;
	text-align:center;
	
}
#left ul.menu2 li a{
	display:block;
	height:40px;
	background:url(../../images/arrow.gif) 6px 7px no-repeat #FFF7D4;
	color:#a40000;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding:0 0 0 25px;
	line-height:40px;
}
#left ul.menu2 li a:hover{
	background-color:#FFFDF2;
	color:#706222;
}

#left ul.menu2 li.noBdr{
	background-image:none;
}




/* tab */

.tab li{padding-top:5px;display:block;text-align:center;position:relative;width:220px;}
.tab .item{font-weight:bold;color:#797979;line-height:40px;}
.tab .current{color:#a40000;}
.tab .current:after{content:' ';position:absolute;background:#a40000;display:block;bottom:0;height:3px;width:100%;}