/* CSS Document */

/* CSS Document */
/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{color:#fff;background-color:transparent;}

/*content-grids*/
.content-grids {
margin-top:-11px;
margin-left:100px;
width:1200px;
height:450px;

}
.container1{height:450px;background-color:#f5f6f7;}
.left{
width:300px;
height:450px;

float:left;
margin-left:-75px;
margin-top:15px;
}
.right{
width:780px;
height:450px;

float:right;
margin-right:-30px;
margin-top:15px;
}


.bottom{
height:300px;
width:250px;
border:1px solid #ffcc00;background:#fff5fa;
border-radius:10px;
box-shadow:5px 5px 5px #aaaaaa;
margin:20px auto;

}

.main{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;/*这三行设置文字不换行，超过部分用...代替*/
height:400px;
border:2px solid #ffcc00;background:#fffff7;
border-radius:10px;
box-shadow:5px 5px 5px #aaaaaa;
margin:20px auto;
}/* CSS Document */

