@CHARSET "UTF-8";
body{
	font-family:微软雅黑;
	background:#ECF0F1;
}
.my-box-shadow{
	 box-shadow: 0 0 2px #000;
}
img{
	width:100%;
	height:auto;
}
.panel-default>.panel-heading{
	color:#ffffff;
	background-color:#1abc9c;
}