
<script type="text/x-handlebars-template" id="amz-tpl">
{{>header header}}

  {{>menu menu}}
</script>
<script>
var $tpl = $('#amz-tpl');
var source = $tpl.text();
var template = Handlebars.compile(source);
var data = {
  header: {
    "content": {
      "title": "{$web_name}",
      "left": [{
          "link": "<php>echo U('mobile/index/index')</php>",
          "title": "",
          "icon": " am-icon-home am-icon-md",
          "customIcon": "",
          "className": ""
      }],
    }
  },

  menu: {
    "options": {
      "cols": "1",
      "toggleIcon": "bars am-icon-md",
    },
    "className": "my-mobile-header",
    "content": [
      {
        "link": "<php>echo U('mobile/index/index')</php>",
        "title": "首页",
        "icon": "home",
      },
      {
        "link": "<php>echo U('mobile/knowledge/index')</php>",
        "title": "保险知识",
        
      },
      {
        "link": "<php>echo U('mobile/knowledge/index')</php>",
        "title": "理赔指引",
        
      },
      {
        "link": "<php>echo U('mobile/aboutus/index')</php>",
        "title": "关于我们"
      }
    ],
    "theme": "offcanvas1"
  }
};
var html = template(data);

$tpl.before(html);
</script>