<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<include file="common:head"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/mobile/index/index.css">
</head>
<body>
	<include file="common:menu"/>
	<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
	
	<form>
	<div class="am-g" style="padding: 0 5px 0px 5px;">
	  <div class="am-u-lg-6">
	  <form method="post" action="<php>echo U('mobile/knowledge/index')</php>">
	    <div class="am-input-group am-input-group-primary">
	      <input type="text" class="am-form-field" placeholder="输入关键字查询">
	      <span class="am-input-group-btn">
	        <button class="am-btn am-btn-lg am-btn-primary" type="submit"><span class="am-icon-search"></span></button>
	      </span>
	    </div>
	  </form>
	  </div>
	</div>
	</form>
	<!-- search end -->
	<script type="text/javascript" id="am-contlist-tpl">
	{{>list_news contlist}}
	</script>
	<script type="text/javascript">
	var $tpl = $('#am-contlist-tpl');
	var source = $tpl.text();
	var template = Handlebars.compile(source);
	var data = {
			contlist:{
				  // id
				  "id": "",

				  // 自定义 class
				  "className": "",

				  // 主题
				  "theme": "",

				  "options": {
				   // normal、thumb
				    "type": "",

				    // 当type为 thumb 时必传
				    "thumbPosition": "bottom"
				    // top-一般用于全宽模式
				    // bottom - bottom-left | bottom-right
				    // left - right
				  },

				  // 数据传递
				  "content": {
				    "header": {
				      "title": "最新保险知识", // 栏目标题
				      "link": "###",
				      "className": "",
				      "moreText": "", // 更多链接显示文字
				      "morePosition": "" // 【更多】链接位置，top、bottom，如果不设置则不显示更多链接
				    },
				    main: [
				           <volist name="list" id="value">
				      {
				        "title": "{$value.title}", // 新闻标题
				        "link": "<php>echo U('mobile/knowledge/info', array('id' => $value['id']))</php>",  // 新闻链接
				        "className": "",  // 自定 class
				        "date": "{$value.create_time}",  // 日期
				        "desc": "",  // 摘要信息，支持html
				        "img": "", // 图片链接

				        // 数据接口
				        "thumbAddition": "", // 缩略图附加信息，可传 html，thumb 模式下有效，显示在缩略图下面
				        "mainAddition": ""  // 附加信息，可传 html，任何模式下都有效
				      },
				      </volist>
				    ]
				}
			}
	}
	var html = template(data);
	$tpl.before(html);
	</script>
	<include file="common:footer"/>
</body>
</html>