<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<include file="common:head"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/mobile/index/index.css">
</head>
<body>
	<include file="common:menu"/>
	
	<div class="am-article" style="margin-top:10px;">
		<div class='am-article-hd'>
			<h1 class="am-article-title" style="text-align:center">{$info.title}</h1>
		</div>
		<div class="am-article-bd">
			<p class="am-article-lead">{$info.short_title}</p>
			<p>{$info.content}</p>
		</div>
	</div>
	
	<include file="common:footer"/>
</body>
</html>