@CHARSET "UTF-8";
body{
	font-family: '幼圆';
}
[class*=am-u-]{
	padding-left: 0;
	padding-right: 0;
}
.my-icon div{
	text-align: center;
}
.my-icon div div{
	margin: 1px;
}
.my-icon div div a{
	color:#ffffff;
}
i:before{
	margin:10px;
}