<include file="Index/head"/>
<!-- menu start -->
<h1>
	<span id="search_id" class="action-span1">
		列表
	</span>
	<span class="action-span"><a href="<php>echo U('admin/article/add');</php>">添加</a></span>
</h1>
<!-- menu end -->

<!-- list start -->
<div class="list-div" id="listDiv">
<table id="page-table" cellspacing="0">
	<tr><td align="right" nowrap="true"><div id="turn-page">{$page}</div></td></tr>
</table>
<table cellpadding="3" cellspacing="1">
	<tr>
		<th>编号</th>
		<th>标题</th>
		<th>短标题</th>
		<th>创建时间</th>
		<th>是否推荐</th>
		<th>是否显示</th>
		<th>操作</th>
	</tr>
	<foreach name="list" item="value">
	<tr>
		<td>{$value.id}</td>
		<td>{$value.title}</td>
		<td>{$value.short_title}</td>
		<td>{$value.create_time}</td>
		<?php if($value['is_commend']):?>
		<td>是</td>
		<?php else:?>
		<td>否</td>
		<?php endif;?>
		<?php if(!$value['is_show']):?>
		<td>否</td>
		<?php else:?>
		<td>是</td>
		<?php endif;?>
		<?php if(!$value['is_show']):?>
		<td>
			<a href="<php>echo U('admin/article/set');</php>&state=1&id={$value.id}">显示</a>
			<if condition="$value.is_commend eq 0">
			<a href="<php>echo U('admin/article/set');</php>&commend=1&id={$value.id}">推荐</a>
			<else/>
			<a href="<php>echo U('admin/article/set');</php>&commend=0&id={$value.id}">不推荐</a>
			</if>
			<a href="<php>echo U('admin/article/modify');</php>&id={$value.id}">修改</a>
			<a onclick="delete_article(this)" href="<php>echo U('admin/article/delete');</php>&id={$value.id}" title="删除">删除</a>
		</td>
		<?php else:?>
		<td>
			<a href="<php>echo U('admin/article/set');</php>&state=0&id={$value.id}">隐藏</a>
			<if condition="$value.is_commend eq 0">
			<a href="<php>echo U('admin/article/set');</php>&commend=1&id={$value.id}">推荐</a>
			<else/>
			<a href="<php>echo U('admin/article/set');</php>&commend=0&id={$value.id}">不推荐</a>
			</if>
			<a href="<php>echo U('admin/article/modify');</php>&id={$value.id}">修改</a>
			<a onclick="delete_article(this)" href="<php>echo U('admin/article/delete');</php>&id={$value.id}" title="删除">删除</a>
		</td>
		<?php endif;?>
	</tr>
	</foreach>
</table>
</div>
<!-- list end -->
<include file="Index/foot"/>