<footer style="background-color:#616161;">
	<div class="container">
		<div class="row">
			<div class="col-sm-10" style="background-color:#616161;height:150px">
				<ul class="my-list-inline">
					<li><img src="__PUBLIC__/image/erweima.jpg"></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">理赔知识</a></li>
					<li><a href="#">保险知识</a></li>
					<li><a href="#">关于我们</a></li>
				</ul>
			</div>
			<div class="col-sm-2" style="height:150px;background-color:#616161;color:#ffffff;border-left:1px dashed #BEBEBE">
				<address style="padding-top:20px;">
					<strong>联系我们</strong><br>
					贵阳市南明区太慈桥<br>
					市一医三楼<br>
					<abbr title="Phone">电话：</abbr>15519047376
				</address>
			</div>
		</div>
	</div>
</footer>