<footer style="background-color:#616161;">
	<div class="container">
		<div class="row">
			<div class="col-sm-10" style="background-color:#616161;height:150px">
				<ul class="my-list-inline">
					<li><img src="__PUBLIC__/image/erweima.jpg"></li>
					<li><a href="<php>echo U('home/index/index');</php>">首页</a></li>
					<li><a href="<php>echo U('home/knowledge/index')</php>">保险知识</a></li>
					<li><a href="<php>echo U('home/guide/index')</php>">理赔指引</a></li>
					<li><a href="<php>echo U('home/aboutus/index')</php>">关于我们</a></li>
				</ul>
			</div>
			<div class="col-sm-2" style="height:150px;background-color:#616161;color:#ffffff;border-left:1px dashed #BEBEBE">
				<address style="padding-top:20px;">
					<strong>{$web_name}</strong><br>
					由{$web_support}提供技术支持<br>
					{$web_beian}<br>
				</address>
			</div>
		</div>
	</div>
</footer>