<div class="container-fluid">
	<nav class="navbar navbar-default" role="navigation" style="height:30px">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	      <span class="sr-only">Toggle navigation</span>
	    </button>
	    <a class="navbar-brand" href="#">e保险之家</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav">
	    	<li><a href="">理赔指引</a></li>
	    	<li><a href="">保险知识</a></li>
	    	<li><a href="">关于我们</a></li>
	    </ul>
	    <p class="navbar-text navbar-right">欢迎您，&nbsp;&nbsp;<a href="">某某某</a>&nbsp;<a href="#">退出</a></p>
	  </div><!-- /.navbar-collapse -->
	</nav><!-- /navbar -->
</div>