<nav class="navbar navbar-inverse my-box-shadow" role="navigation" style="height:30px;z-index:5;">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	      <span class="sr-only">Toggle navigation</span>
	    </button>
	    <a class="navbar-brand" href="__MODULE__/index">e保险之家</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav">
	    	<li class="<if condition="$menuitem eq 'index'">active</if> my-item"><a href="__MODULE__/index">首页</a></li>
	    	<li class="<if condition="$menuitem eq 'guide'">active</if> my-item"><a href="__MODULE__/guide">理赔指引</a></li>
	    	<li class="<if condition="$menuitem eq 'knowledge'">active</if> my-item"><a href="__MODULE__/knowledge">保险知识</a></li>
	    	<li class="<if condition="$menuitem eq 'aboutus'">active</if> my-item"><a href="__MODULE__/aboutus">关于我们</a></li>
	    </ul>
	    <p class="navbar-text navbar-right"><span class="glyphicon glyphicon-user"></span> 欢迎您，&nbsp;&nbsp;<a href="">某某某</a>&nbsp;<a href="#">退出</a></p>
	  </div><!-- /.navbar-collapse -->
	</nav><!-- /navbar -->
