	<div class="row my-menu">
	<div class="col-sm-9">
		<ul class="my-menu-list-inline">
			<li><img src="__PUBLIC__/image/erweima.jpg"></li>
			<li><a href="#">首页</a></li>
			<li><a href="#">保险知识</a></li>
			<li><a href="#">理赔指引</a></li>
			<li><a href="#">法律援助</a></li>
			<li><a href="#">关于我们</a></li>
			
		</ul>
	</div>
	<div class="col-sm-3" style="margin-top:10px">
		<div class="input-group" style="width:auto;max-width:250px;box-shadow:0px;">
		  <input type="text" class="form-control" placeholder="Search" id="search-query-3">
		  <span class="input-group-btn">
		    <button type="submit" class="btn" style="background-color:#1abc9c;color:#ffffff;border-radius: 5px;">搜 索</button>
		  </span>
		</div>
	</div>
	</div>
